a {
  color:black;
}

.header {
  display:flex;
  height:80px;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom:1px solid black;
  align-items: center;
  justify-content:space-between;
  position: fixed;
  z-index: 1;
  background-color: white;
}
.logo {
  display: flex;
  align-items: center;
  padding-left: 30px;
  border:1px solid black;
  flex-grow: 1;
}
.logo span {
  color:MediumAquamarine;
  padding-left: 10px;
}
.links {
  display: inline-block;
  padding-right:25px;
  flex-wrap: wrap;
  justify-content:space-around;
}


.border {
  border:1px solid black;
}
.thick {
  border:3px solid black;
}


.main {
  width:1300px;
  margin:0 100px 100px 100px;
  position:relative;
  top:100px;
  display: flex;
  justify-content: center;
}
.column {
  flex-direction: column;
  display: flex;
}
.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}
